*{margin: 0;
padding: 0;}
/* アニメーション非表示部分 */
.animate{height: 100vh;

display: block;


}
.deropic{
position: relative;

/* background-color: #fff; */
z-index: 2;
display: none;
margin-top:125px;
}
.dero2{
  text-align: right;
}


.back{
  background:linear-gradient(  #6C95D4,#fff);
padding-left: 30px;
padding-top: 30px;
display: none;
width: 100%;
box-sizing: border-box;
}
.bom{
position: absolute;
top:400px;
right: 600px;
box-sizing: border-box;
padding: 100px;
z-index:3;}

.fire{
position:absolute;
top:525px;
}

.hide{width: 60%;height: 300px;
position: absolute;
background-color: #fff;
top: 300px;}
/* ここまでアニメーション */
.tokeiten{
  /* background-image: url(../gazou/BTF/back.jpg); */
}
.iti, .ni,.san, .yon, .go{background:linear-gradient(#6F4E29,#fff );
height: 100vh;}



.text-box{font-size: 20px;
  padding: 20px;
  padding-bottom: 0;
display: flex;
justify-content: space-between;
text-shadow: 1px 2px 3px #808080;
/* background:linear-gradient(#6F4E29,#fff ) */
}
/* .text-box h3{}
.text-box h1{} */
.text-box p{font-size: 15px;
text-align: right;}

.nav-box{
width: 200px;
margin-top: 30px;
 }
.top-box{display: flex;
justify-content: space-around;
padding-top: 30px;}
.nav-box a{

  text-shadow: 1px 2px 3px #808080;

display: block;
padding: 10px 0;
font-size: 25px;
color: black;
text-decoration: none;}
.nav-box a:hover{opacity: 0.5;}
.top-pic{
width: 40%;
position: relative;}

.top-img{width: 100%;position: absolute;
height: 100%;
border: 1px solid black;
  border-radius: 10px;}
.voice{width: 20%;
background-color: #fff;
border-radius: 10px;}
.ozisan{width: 100%;
border-radius: 50%;
text-align: center;}
.watasi{text-align: center;}
.voice-p{

  margin:0 auto;
margin-bottom: 20px;
padding: 10px 0;
width: 80%;
}
.voice-p span{background:linear-gradient(transparent 60%, yellow 60%);
}
.iti{padding-bottom: 100px;}
.ni{padding: 50px 0;}
.kaisha{margin: 30px auto;
width: 60%;
background-color:#fff;

border-radius: 10px;
}
.tokeiten h2{font-size: 30px;
text-align: center;
padding: 30px 0;
}
.kaisha p{width: 80%;
font-size: 20px;
letter-spacing: 2px;
line-height: 2;
padding-left: 20px;
padding-bottom: 20px;
}
.san{text-align: center;
margin-bottom: 100px;}
.slide p{color:red;}
.slideSet{display: flex;
position:relative;}
.slideCont{display: flex;}
.slide{padding: 20px;}
.slider{
  /* 表示幅＝slide（P）＊length+giziyouso */
overflow: hidden;
margin: auto;

}

.san h2{padding: 50px 0;
}

.btn1{font-size: 50px;height: 50px;
cursor: pointer;}

.next-btn{
  position: absolute;
  top:1650px;
  right: 100px;
}

.prev-btn{
position: absolute;
  top:1650px;
left: 100px;}




.yon{
  text-align: center;
width: 100%;
height: 700px;
margin-bottom: 100px;}
.shuri-text{
border-radius: 5px;
margin: 30px;
border: 3px solid #A1AAE6;
text-align: left;
line-height: 1.8;
}
.shuri-text b{color: red;}
.box1,.box2{width:70%;}
.shuri-box{display: flex;
  margin: auto;
width: 60%;
}
.toiawase{text-align: center;}
input,textarea{width: 100%;}

input{height:30px;}
form{display:flex;
flex-direction: column;
width: 40%;
text-align: left;
margin: auto;
}
.toiawase p{margin-top: 20px;}
.submit{margin: 40px 0;}
/* //tokeiten非表示部分 */
.tokeiten{display:none;}
.animate{
width: 100%;
  position: absolute;}

  .deropic2{display: none;
  position:absolute;
z-index: 2;
right: 500px;
top: 400px;}
